<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>BLAuction</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="css/style.css" type="text/css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<script>
time = new Date().getTime()
console.log(time)
</script>
<body>

<div class="container">
  <div class="row" id="northArea">
	  <div class="col-sm-4" id="clothing">.col-sm-4</div>
	  <div class="col-sm-4" id="beauty">.col-sm-4</div>
	  <div class="col-sm-4" id="sports">.col-sm-4</div>
  </div>
  <div class="row" id="centerArea">
  	  <div id="title">.col-sm-4</div>
	  <div id="searchingbar">.col-sm-4</div>
  </div>
  <div class="row" id="southArea">
	  <div class="col-sm-4" id="digital">.col-sm-4</div>
	  <div class="col-sm-4" id="furniture">.col-sm-4</div>
	  <div class="col-sm-4" id="etc">.col-sm-4</div>
</div>
</div>

</body>
</html>