<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>BLAuction</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="../css/style.css" type="text/css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<script>
time = new Date().getTime()
console.log(time)
</script>
<body>

<div class="container">
  <div class="row" id="northArea">
	  <div class="col-sm-4" id="clothing"><a href="auction/category/furniture.jsp"><h2>#생활 #가구</h2></a></div>
	  <div class="col-sm-4" id="beauty"><a href="auction/category/clothing.jsp"><h2>#의류 #잡화</h2></a></div>
	  <div class="col-sm-4" id="sports"><a href="auction/category/sports.jsp"><h2>#스포츠 #레저</h2></a></div>
  </div>
  <div class="row" id="centerArea">
  	  <div id="title">
  	  	<a href="main.jsp"><img src="../img/logo.PNG"></a>
  	  </div>
	  <div class="input-group" id="searchingbar">
	  	<input type="text" class="form-control" placeholder="#">
	  </div>	
  </div>
  <div class="row" id="southArea">
	  <div class="col-sm-4" id="digital"><a href="auction/category/digital.jsp"><h2>#디지털 #가전</h2></a></div>
	  <div class="col-sm-4" id="furniture"><a href="auction/category/beauty.jsp"><h2>#뷰티 #미용</h2></a></div>
	  <div class="col-sm-4" id="etc"><a href="auction/category/etc.jsp"><h2>#기타 </h2></a></div>
</div>
</div>

</body>
</html>