<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bla.mapper.AuctionMapper">

	<!-- Need a update -->
	 <resultMap type="auction" id="auctDetail">
		<result column="auct_id" property="auct_id" />
		<result column="seller_id" property="seller_id" />
		<result column="duedate" property="duedate" />
		<result column="type" property="type" />
		<result column="auct_title" property="auct_title" />
		<result column="start_price" property="start_price" />
		<result column="seller_account" property="seller_account" />
		<result column="category" property="category" />
		<result column="description" property="description" />
		<!-- null, maybe update -->
		<result column="down_price" property="down_price" />
		<!-- null, maybe update -->
		<result column="down_term" property="down_term" />
		<result column="auction_status" property="auction_status" />
		<result column="auction_address" property="auction_address" />
	</resultMap>

	<resultMap type="auction" id="auctList">
		<result column="auct_id" property="auct_id" />
		<result column="seller_id" property="seller_id" />
		<result column="duedate" property="duedate" />
		<result column="type" property="type" />
		<result column="auct_title" property="auct_title" />
		<result column="start_price" property="start_price" />
		<result column="seller_account" property="seller_account" />
		<result column="category" property="category" />
		<result column="description" property="description" />
		<!-- null, maybe update -->
		<result column="down_price" property="down_price" />
		<!-- null, maybe update -->
		<result column="down_term" property="down_term" />
		<result column="auction_status" property="auction_status" />
		<result column="auction_address" property="auction_address" />
	</resultMap>

	<select id="select" parameterType="String" resultMap="auctDetail">
		SELECT * FROM AUCTION WHERE AUCT_ID=#{obj}
	</select>
	<select id="selectall" resultMap="auctList">
		SELECT * FROM AUCTION ORDER BY AUCT_ID
	</select>
	<insert id="insert" parameterType="auction">
		INSERT INTO AUCTION 
		(MEMBER_ID,DUE_DATE,AUCT_TYPE_ID, START_PRICE,SELLER_ACCOUNT,CATE_TYPE_ID,DESCRIPTION,AUCTION_STATUS,AUCTION_ADDRESS) 
		VALUES (#{member_id},#{due_date},#{auct_type_id},#{start_price},#{seller_account},#{cate_type_id},#{description},#{auction_status},#{auction_address})         
	</insert>
	<insert id="insertDown" parameterType="auction">
		INSERT INTO AUCTION (DOWN_PRICE, DOWN_TERM) VALUES (#{down_price}, #{down_term})
	</insert>
	<!-- Need a update parameter add-->
	<update id="update" parameterType="auction">
		UPDATE AUCTION SET START_PRICE=#{start_price} WHERE AUCT_ID=#{auct_id}  
	</update>
	<!-- Need a update parameter add.. -->
	<delete id="delete" parameterType="String">
		DELETE * FROM AUCTION WHERE AUCT_ID=#{obj}
	</delete>

</mapper>
