<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bla.mapper.DeliveryMapper">

	<!-- Need a update -->
	<resultMap type="delivery" id="deliverDetail">
		<result column="delivery_code" property="delivery_code" />
		<result column="delivery_status" property="delivery_status" />
		<result column="payment_status" property="payment_status" />
	
	</resultMap>

	<resultMap type="delivery" id="deliverList">
		<result column="delivery_code" property="delivery_code" />
		<result column="delivery_status" property="delivery_status" />
		<result column="payment_status" property="payment_status" />
	
	</resultMap>

	<select id="select" parameterType="String" resultMap="deliverDetail">
		SELECT * FROM WHERE DELIVERY_CODE = #{obj}
	</select>
	<select id="selectall" resultMap="deliverList">
		SELECT * FROM ORDER BY DELIVERY_CODE
	</select>
	<insert id="insert" parameterType="delivery">
		INSERT INTO DELIVERY(DELIVERY_STATUS,PAYMENT_STATUS)
		VALUES (#{delivery_status},#{payment_status})
	</insert>
	<!-- Need a update -->
	<update id="updateDS" parameterType="delivery">
		UDPATE DELIVERY SET DELIVERY_STATUS = #{delivery_status} WHERE DELIVER_CODE = #{deliver_code}
	</update>
	<!-- Need a update -->
	<update id="updatePS" parameterType="delivery">
		UDPATE DELIVERY SET PAYMENT_STATUS =#{payment_status} WHERE DELIVER_CODE = #{deliver_code}
	</update>
	<!-- Need a update parameter add.. -->
	<delete id="delete" parameterType="String">
		DELETE * FROM DELIVERY WHERE DELIVERY_CODE = #{obj}
	</delete>

</mapper>
