<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bla.mapper.PhotoMapper">

	<!-- Need a update -->
	<resultMap type="photo" id="photoDetail">
		<result column="photo_id" property="photo_id" />
		<result column="photo_name" property="photo_name" />
		<result column="photo_path" property="photo_path" />
		<result column="auct_id" property="auct_id" />
	</resultMap>

	<resultMap type="photo" id="photoList">
		<result column="photo_id" property="photo_id" />
		<result column="photo_name" property="photo_name" />
		<result column="photo_path" property="photo_path" />
		<result column="auct_id" property="auct_id" />
	</resultMap>

	<select id="select" parameterType="String" resultMap="photoDetail">
		SELECT * FROM PHOTO WHERE PHOTO_ID = #{PHOTO_ID}
	</select>
	<select id="selectall" resultMap="photoList">
		SELECT * FROM PHOTO ORDER BY PHOTO_ID
	</select>
	<insert id="insert" parameterType="photo">
		INSERT INTO PHOTO 
		(PHOTO_NAME,PHOTO_PATH,AUCT_ID)
		VALUES (#{photo_name},#{photo_path},#{auct_id})
	</insert>
	<!-- Need a delete -->
	<update id="updatePN" parameterType="photo">
		UPATE PHOTO SET PHOTO_NAME = #{photo_name} WHERE PHOTO_ID #{photo_id}
	</update>
	<!-- Need a delete -->
	<update id="updatePP" parameterType="photo">
		UPATE PHOTO SET PHOTO_PATH = #{photo_path} WHERE PHOTO_ID #{photo_id}
	</update>
	<!-- Need a delete -->
	<update id="updateAI" parameterType="photo">
		UPATE PHOTO SET AUCT_ID = #{auct_id} WHERE PHOTO_ID #{photo_id}
	</update>
	
	<!-- Need a update parameter add.. -->
	<delete id="delete" parameterType="String">
		DELETE * FROM PHOTO WHERE PHOTO_ID =#{obj}
	</delete>

</mapper>
