<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bla.mapper.TagMapper">

	<!-- Need a update -->
	<resultMap type="moim" id="moimDetail">
		<result column="tag_id" property="tag_id" />
		<result column="tag_name" property="tag_name" />
		<result column="auct_id" property="auct_id" />
		
	</resultMap>

	<resultMap type="tag" id="tagList">
		<result column="tag_id" property="tag_id" />
		<result column="tag_name" property="tag_name" />
		<result column="auct_id" property="auct_id" />
		
	</resultMap>

	<select id="select" parameterType="String" resultMap="tagDetail">
		SELECT * FROM TAG WHERE TAG_ID = #{obj}
	</select>
	<select id="selectall" resultMap="tagList">
		SELECT * FROM TAG ORDER BY TAG_ID
	</select>
	<insert id="insert" parameterType="tag">
		INSERT INTO TAG (AUCT_ID) VALUES (#{auct_id})
	</insert>
	<insert id="insertTAG" parameterType="tag">
		INSERT INTO TAG (TAG_NAME) VALUES (#{tag_name})
	</insert>
	<!-- Need a update -->
	<update id="update" parameterType="tag">
		 UPDATE TAG SET TAG_NAME = #{tag_name} WHERE TAG_ID = #{tag_id}
	</update>
	<!-- Need a update parameter add.. -->
	<delete id="delete" parameterType="String">
		DELETE * FROM TAG WHERE TAG_ID = #{obj}
	</delete>

</mapper>
