@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding:700|Nanum+Myeongjo:700');
@import url('https://fonts.googleapis.com/css?family=Oswald');

/* index.html */
/*****************************************************************/
.container{
	weight:100%;
	height:100%;
}
.row{
	height:300px;
}
.col-sm-4{
	width:33.3%;
	height:100%;
}

.col-sm-4 h2{
	text-align:center;
	position:absolute;
	top:100px;
	left:110px;
	z-index:100;
}

.col-sm-4 img{
	width:100%;
	height:100%;
}

.col-sm-4 img:hover{
	opacity:0.5;
}

@media (max-width:480px) {
	
	.container{
		weight:auto;
	}
	
	.row{
		float:none;
		weight:auto;
	}
	
	.col-sm-4{
		width:100%;
		height:auto;
		border:solid black 2px;
	}
}
.container a:link {
	 text-decoration:none;
	 color:white;
}
.container a:hover {
	 text-decoration:none;
	 color:black;
}
#northArea{

}
#centerArea{
	width:100%;
	margin:0 auto;
}
#title{
	position:relative;
}
#title img{
	display:block;
	margin:6% auto;
}
#searchingbar{
	position:relative;
	margin:-3% auto;
}
#searchingbar input{
	width:200%;
	margin-left:-50%;
}
#southArea{

}


/* main.jsp */
/*****************************************************************/
/* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      height:120px;
      border-bottom:solid 1px #e3e3e3;
    }
    
    .navbar img{
    	margin-top:6%;
    	margin-left:30%;
    }
    
    #myNavbar{
    	margin-top:2.5%;
    }
    
    #searchingbar_main input{
    	width:250%;
    	margin-left:70%;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 1500px;position:relative;}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      border-right:solid 1px #e3e3e3;
      height: 100%;
    }
    
    #rightNav a{
    	color:#4C4C4C;
    }
    
    #rightNav img{
    	width:30px;
    	margin:0 auto;
    }
    
    #menu a{
    	color:black;
    }
    
    #menu a:link{
    	text-decoration:none;
    }
    
    #menu a:hover{
    	color:gray;
    }
    
    #menu div{
    	border-bottom:solid 1px #e3e3e3;
    }
    
    #menu_category{
    	padding-top:10%;
    	padding-bottom:10%;
    }
    

    
    /* Set black background color, white text and some padding */
    footer {
      color: gray;
      padding: 15px;
      border-top:solid 1px #e3e3e3;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
    	
    	.navbar img{
    	margin:6% auto;
    	}
    	
    	#myNavbar{
    	margin:0 auto;
    	}

  		#searchingbar_main input{
    	width:10%;
    	margin:0 auto;
    	}
    	
      .sidenav {
        height: auto;
        padding: 15px;
      }
      
      .row.content {height:auto;} 
      
      #menu_category{
    	padding-top:3%;
    	padding-bottom:3%;
    	}
      
    }
    
 
    
/* center.jsp */
/*****************************************************************/

	#list_area{
		position:relative;
		width:100%;
	}
	
	#carousel-example-generic{
		position:relative;
		width:100%;
		height:600px;
	}
	
	.carousel-inner img{
		position:relative;
		width:100%;
	}
	
	.card.group{
		position:relative;
		width:100%;
		margin-top:5%;
	}
	
	#card_group{
		position:relative;
		margin-top:10%;
	}
	
	#card_group h2{
		text-align:center;
		font-family: 'Oswald', sans-serif;
	}
	
	#card_group .card-columns{
		position:relative;
		margin-top:1%;
	}
	
	.card-columns div{
		position:relative;
		float:left;
		display:inline;
	}
	
	.card-columns{
    	position:relative;
    	width:100%;
    }
	
	.card{
		margin:2% 3%;
		margin-bottom:4%;
	}
	
    #time_limit{
    	text-align:center;
    	padding-bottom:1px;
    }
    
    
    .card img{
    	width:200px;
    	height:180px;
    }
    
    .card-body{
    	margin-top:8%;
    }
    
    .card-body p{
    	display:inline;
    }
    
    .card-body a{
    	display:inline;
    	color:black;
    }
    
    .card-body a:link{
    	text-decoration:none;
    }
    
    .card-body a:hover{
    	color:gray;
    }
    
    #auction_name{
    	float:left;
    }
    
    #auction_price{
    	float:right;
    }
    
    
    /* category.jsp */
	/*****************************************************************/
	.dropdown{
		padding-top:30px;
		padding-left:50px;
	}
	
	.dropdown-menu{
		margin-left:50px;
	}
	
	#category_group{
		margin-top:-0.01%;
	}
	

    
    /* Modal part*/
	/*****************************************************************/
	.modal-open {
		overflow: hidden
	}
	
	.modal-open .modal {
		overflow-x: hidden;
		overflow-y: auto
	}
	
	.modal {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1050;
		display: none;
		overflow: hidden;
		outline: 0
	}
	
	.modal-dialog {
		position: relative;
		width: auto;
		margin: .5rem;
		pointer-events: none
	}
	
	.modal.fade .modal-dialog {
		transition: -webkit-transform .3s ease-out;
		transition: transform .3s ease-out;
		transition: transform .3s ease-out, -webkit-transform .3s ease-out;
		-webkit-transform: translate(0, -25%);
		transform: translate(0, -25%)
	}
	
	@media screen and (prefers-reduced-motion:reduce) {
		.modal.fade .modal-dialog {
			transition: none
		}
	}
	
	.modal.show .modal-dialog {
		-webkit-transform: translate(0, 0);
		transform: translate(0, 0)
	}
	
	.modal-dialog-centered {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		min-height: calc(100% - ( .5rem * 2))
	}
	
	.modal-dialog-centered::before {
		display: block;
		height: calc(100vh - ( .5rem * 2));
		content: ""
	}
	
	.modal-content {
		position: relative;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: column;
		flex-direction: column;
		width: 100%;
		pointer-events: auto;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid rgba(0, 0, 0, .2);
		border-radius: .3rem;
		outline: 0
	}
	
	.modal-backdrop {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 1040;
		background-color: #000
	}
	
	.modal-backdrop.fade {
		opacity: 0
	}
	
	.modal-backdrop.show {
		opacity: .5
	}
	
	.modal-header {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: start;
		align-items: flex-start;
		-ms-flex-pack: justify;
		justify-content: space-between;
		padding: 1rem;
		border-bottom: 1px solid #e9ecef;
		border-top-left-radius: .3rem;
		border-top-right-radius: .3rem
	}
	
	.modal-header .close {
		padding: 1rem;
		margin: -1rem -1rem -1rem auto
	}
	
	.modal-title {
		margin-bottom: 0;
		line-height: 1.5
	}
	
	.modal-body {
		position: relative;
		-ms-flex: 1 1 auto;
		flex: 1 1 auto;
		padding: 1rem
	}
	
	.modal-footer {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: end;
		justify-content: flex-end;
		padding: 1rem;
		border-top: 1px solid #e9ecef
	}
	
	.modal-footer>:not (:first-child ){
		margin-left: .25rem
	}
	
	.modal-footer>:not (:last-child ){
		margin-right: .25rem
	}
	
	.modal-scrollbar-measure {
		position: absolute;
		top: -9999px;
		width: 50px;
		height: 50px;
		overflow: scroll
	}
	
	@media ( min-width :576px) {
		.modal-dialog {
			max-width: 500px;
			margin: 1.75rem auto
		}
		.modal-dialog-centered {
			min-height: calc(100% - ( 1.75rem * 2))
		}
		.modal-dialog-centered::before {
			height: calc(100vh - ( 1.75rem * 2))
		}
		.modal-sm {
			max-width: 300px
		}
	}
	
	@media ( min-width :992px) {
		.modal-lg {
			max-width: 800px
		}
	}
    
    
   
/* detail.jsp */
/*****************************************************************/
	#detail_logo{
		width:35px;
		margin-left:2%;
		margin-right:1%;
	}
	
	#detail_area{
		/* font-family: 'Nanum Gothic Coding', monospace; */
		font-family: 'Nanum Myeongjo', serif;
		position:relative;
	}
	
	#detail_panel,#biddingList_panel{
		position:relative;
		height:1100px;
		width:96%;
		margin-left:2%;
	}
	
	#detail_panel h4{
		color:gray;
	}
	
	#detail_top{
		position:relative;
		width:100%;
		height:260px;
	}
	
	#detail_pic{
		float:left;
		display:inline;
		position:relative;
		width:290px;
		height:250px;
		border:1px solid #A6A6A6;
		margin-left:5%;
		margin-top:2%;
		
	}
	
	#detail_pic img{
		position:relative;
		width:270px;
		height:230px;
		margin-left:10px;
		margin-top:10px;
	}
	
	#first_info{
		display:inline;
		float:left;
		height:250px;
		width:540px;		
	}
	
	#first_info div{
		margin-top:11%;
		margin-left:12%;
		border-bottom:1px solid #A6A6A6;
	}
	
	#detail_bottom{
		position:relative;
		width:80%;
		height:460px;
		margin-top:7%;
		margin-left:4%;
	}
	
	#second_info{
		position:relative;
		width:100%;
		margin-left:4%;
	}
	
	#sellerInfoCheck_btn{
		position:relative;
		width:32%;
		margin-top:-10%;
	}
	
	#second_info div{
		margin-bottom:8%;
	}
	
	#oneLine{
		position:relative;
		width:100%;
	}
	
	#oneLine div{
		display:inline;
		float:left;
		position:relative;
		width:50%;
		border-bottom:1px solid #A6A6A6;
	}
	
	
	#bidding_btn{
		position:relative;
		width:300px;
		margin:10% 35%;
	}
	
	#bidding_btn_down{
		position:relative;
		width:300px;
		margin:10% 35%;
	}
	
	#bidding_btn h4{
		position:relative;
		color:white;
	}
	
	#bidding_btn_down h4{
		position:relative;
		color:white;
	}
	
	#bidding_submit_btn{
		width:30%;
	}
	
	#biddingList_panel h4{
		text-align:center;
	}
	
	#DBlist{
		position:relative;
		height:970px;
		width:48%;
		float:left;
		margin-left:2%;
		border:1px solid lightgray;
	}
	
	#Contractlist{
		position:relative;
		height:970px;
		width:48%;
		float:left;
		border:1px solid lightgray;
	}

	#DBlist table{
		width:100%;
		text-align:center;
	}
	
	#Contractlist table{
		width:100%;
		text-align:center;
	}
	
	
	#DBlist th{
		text-align:center;
	}
	
	#Contractlist th{
		text-align:center;
	}
	
	/* bidding Modal */
	#inputPriceArea h4{
		position:relative;
		display:inline;
		float:left;
	}
	
	#bidding_submit_btn{
		margin:0 40%;
		width:20%;
	}
	
	#suggestedPrice{
		width:80%;
	}
	
	#biddingModal .modal-body div{
		margin:3% 10%;
	}
	
/* register.jsp */
/*****************************************************************/
	#register_logo{
		width:35px;
		margin-left:2%;
		margin-right:1%;
	}
	
	#register_area{
		/* font-family: 'Nanum Gothic Coding', monospace; */
		font-family: 'Nanum Myeongjo', serif;
	}
	
	#register_panel{
		position:relative;
		height:1300px;
		width:96%;
		margin-left:2%;
		
	}
	
	#register_top{
		position:relative;
		width:100%;
		height:270px;
	}
	
	#register_pic1{
		float:left;
		display:inline;
		position:relative;
		width:290px;
		height:250px;
		border:1px solid #A6A6A6;
		margin-left:4%;
		margin-top:2%;	
	}
	
	#register_pic2{
		float:left;
		display:inline;
		position:relative;
		width:290px;
		height:250px;
		border:1px solid #A6A6A6;
		margin-left:4%;
		margin-top:-0.5%;	
	}
	
	#register_top button{
		position:relative;
		margin-top:50%;
		margin-left:30%;
		width:110px;
	}
	
	#register_info1{
		display:inline;
		float:left;
		height:250px;
		width:250px;
		margin-left:2%;
		margin-top:-6%;
	}
	
	#register_info1 div{
		margin-top:20%;
		margin-left:2%;
	}
	
	#register_bottom{
		position:relative;
		width:80%;
		height:460px;
		margin-top:4%;
		margin-left:7%;
	}
	
	#register_bottom .form-group{		
		margin-bottom:4%;
	}
	
	
	#register_title h4{
		position:relative;
		display:inline;
		float:left;
	}
	
	#start_price h4{
		position:relative;
		display:inline;
		float:left;
	}
	
	#due_date h4{
		position:relative;
		display:inline;
		float:left;
	}
	
	#dueDate,#dueTime,#downPrice,#downTerm{
		position:relative;
		display:inline;
		float:left;
	}
	
	#down_price h4{
		position:relative;
		display:inline;
		float:left;
	}
	
	
	
	#register_btn{
		width:300px;
		margin:10% 20%;
	}
	
	#register_btn h4{
		color:white;
	}
	
	
/* mypage.jsp */
/*****************************************************************/

	/* My Info */
	#mypage_area, #sellerpage_area{
		/* font-family: 'Nanum Myeongjo', serif; */
		/*font-family: 'Nanum Gothic Coding', monospace; */
		margin-top:2%;
	}
	
	
	#myinfo_panel{
		height:300px;
		position:relative;
		width:80%;
		margin-left:4%;	
	}
	
	#rightInfo{
		position:relative;
		float:left;
		margin-left:-2%;
		margin-top:-2%;
		width:35%;
		height:299px;
		background-color:#C3C3C3;
		
	}
	
	#rightInfo div{
		position:relative;
		width:100%;
		text-align:center;
		margin-bottom:6%;
	}
	
	#mygrade img{
		margin-top:20%;
	}
	
	#myname{
		color:white;
	}
	
	#leftInfo{
		position:relative;
		float:left;
		width:65%;
		height:299px;
		padding-left:3%;
		padding-top:2%;
		margin-top:-2%;
	}
	
	#leftInfo div:first-child{
		position:relative;
		width:100%;
		border-bottom:1px solid #C3C3C3;
	}
	
	#leftInfo button{
		position:relative;
		margin-right:0;
	}
	
	#mylist_area{
		font-family: 'Nanum Gothic Coding', monospace;
		position:relative;
		margin-left:4%;
		width:90%;
	}
	
	#mylist_tabs a{
		color:gray;
		text-align:center;
	}
	
	#mylist_tabs a:hover{
		color:black;
	}
	
	#mylist_tabs>li.active>a{
		color:black;
	}
	
	#mylist_tabs li{
		position:relative;
		width:33.3%;
	}
	
	#mybidding_panel,#winningbid_panel,#myauction_panel{
		margin-top:3%;
		position:relative;
		width:100%;
		height:220px;
	}
	
	
	#mybiddingImg,#winningbidImg,#myauctionImg,#reviewImg,#sellingImg{
		position:relative;
		float:left;
		width:30%;
		height:220px;
	}
	
	#mybiddingImg img{	
		width:220px;
		height:200px;
	}
	
	#winningbidImg img{	
		width:220px;
		height:200px;
	}
	
	#myauctionImg img{	
		width:220px;
		height:200px;
	}

	
	#mybiddingInfo{
		position:relative;
		width:70%;
		height:220px;
		float:left;
	}
	
	#mybiddingInfo div:first-child{
		position:relative;
		margin-bottom:4%;
	}
	
	#mybiddingInfo div{
		position:relative;
		margin-bottom:3%;
	}
	
	#mybiddingInfo div:first-child{
		position:relative;
		display:inline;
	}
	
	#mybiddingInfo h4{
		position:relative;
		display:inline;
	}
	
	#mybidding_seller_btn{
		position:relative;
		display:inline;
		width:32%;
		float:right;
	}
	
	#winningbidding_seller_btn{
		position:relative;
		display:inline;
		width:32%;
		float:right;
	}
	
	
	#winningbidStatus{
		color:red;
		display:inline;
		float:right;
	}
	
	#Delivery_Status{
		color:red;
	}
	
	#myauctionTitle{
		display:inline;
	}
	
	#myauctionbidStatus{
		display:inline;
		float:right;
		color:red;
	}
	
	#myauctionCancle{
		display:inline;
		float:right;
	}
	
	#myauction_seller_btn{
		position:relative;
		display:inline;
		width:32%;
		float:right;
	}
	
	
	/* seller Info*/
	
	#sellerpage_area{
		margin-top:2%;
	}
	
	
	#sellerinfo_panel{
		height:300px;
		position:relative;
		width:80%;
		margin-left:4%;	
	}
	
	#sellergrade img{
		margin-top:20%;
	}
	
	#sellerName{
		color:white;
	}
	
	#numofSellerInfo{
		position:relative;
	}
	
	#numofSellerInfo h4{
		position:relative;
		margin-top:10%;
	}
	
	#report_btn{
		position:relative;
		float:right;
	}
	
	#sellerlist_area{
		font-family: 'Nanum Gothic Coding', monospace;
		position:relative;
		margin-left:4%;
		width:90%;
	}
	
	#sellerlist_tabs a{
		color:gray;
		text-align:center;
	}
	
	#sellerlist_tabs a:hover{
		color:black;
	}
	
	#sellerlist_tabs>li.active>a{
		color:black;
	}
	
	#sellerlist_tabs li{
		position:relative;
		width:50%;
	}
	
	#review_panel,#selling_panel{
		margin-top:3%;
		position:relative;
		width:100%;
		height:220px;
	}
	
	#reviewImg,#sellingImg{
		position:relative;
		float:left;
		width:30%;
		height:220px;
	}
	
	#reviewComment{
		position:relative;
		float:left;
		width:60%;
	}
	
	#sellingbidStatus{
		color:red;
		position:relative;
		float:right;
		width:
	}
	
	
	/* Modal */
	
	#changePasswd_btn {
		margin-top:15px;
	}

	#changedAddress{
		width:350px;
	}

	#sgbidding_area{
		position:relative;
		display:inline;
		width:100%;
	}
	#sgbidding_area h4{
		position:relative;
		display:inline;
		float:left;
		width:30%;
		margin-left:10%;
	}	
	
	#SuggestedPrice{
		position:relative;
		width:40%;
		margin-left:0;
	}
	
	#Bidding_Submit_btn{
		width:40%;
		position:relative;
		margin-top:2%;
		margin-bottom:2%;
	}
	
	#deliveryInfo_Btn{
		width:40%;
		position:relative;
		margin-top:2%;
		margin-bottom:2%;
	}
	
	#selectedDeliveryCompany{
		
	}