<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bla.mapper.AuctionMapper">

	<!--  Need a update -->
	 <resultMap type="auction" id="auctList">
		<result column="auct_id" property="auct_id" />
		<result column="member_id" property="member_id" />
		<result column="duedate" property="duedate" />
		<result column="auct_type_id" property="type" />
		<result column="auct_title" property="auct_title" />
		<result column="start_price" property="start_price" />
		<result column="seller_account" property="seller_account" />
		<result column="cate_type_id" property="category_id" />
		<result column="description" property="description" />
		<result column="down_price" property="down_price" />
		<result column="down_term" property="down_term" />
		<result column="auction_status" property="auction_status" />
		<result column="auction_address" property="auction_address" />
		<result column="tag" property="tag" />
		<result column="register_date" property="register_date" />
	</resultMap> 

	<select id="select" parameterType="Integer" resultMap="auctList">
		SELECT * FROM AUCTION WHERE AUCT_ID=#{auct_id}
	</select>

	<select id="selectAll" resultMap="auctList">
		SELECT * FROM AUCTION ORDER BY AUCT_ID
	</select>
	
	<select id="selectByCategory" parameterType="Integer" resultMap="auctList">
		SELECT * FROM AUCTION WHERE CATE_TYPE_ID=#{category_id}
	</select>
	
	<select id="selectByRegdate" parameterType="Long" resultType="Integer">
		SELECT AUCT_ID FROM AUCTION WHERE REGISTER_DATE=#{register_date}
	</select>

	<insert id="insert" parameterType="auction">
		INSERT INTO AUCTION 
		(AUCT_ID,AUCT_TITLE,MEMBER_ID,DUEDATE,AUCT_TYPE_ID, START_PRICE,SELLER_ACCOUNT,CATE_TYPE_ID,DESCRIPTION,AUCTION_ADDRESS,TAG,REGISTER_DATE) 
		VALUES (SEQ_AUCT.NEXTVAL,#{auct_title}, #{member_id},#{duedate},#{type},#{start_price},#{seller_account},#{category_id},#{description},#{auction_address},#{tag},#{register_date})         
	</insert>

	<insert id="insertDown" parameterType="auction">
		INSERT INTO AUCTION 
		(AUCT_ID,AUCT_TITLE,MEMBER_ID,DUEDATE,AUCT_TYPE_ID, START_PRICE,SELLER_ACCOUNT,CATE_TYPE_ID,DESCRIPTION,DOWN_PRICE,DOWN_TERM,AUCTION_ADDRESS,TAG,REGISTER_DATE) 
		VALUES (SEQ_AUCT.NEXTVAL,#{auct_title}, #{member_id},#{duedate},#{type},#{start_price},#{seller_account},#{category_id},#{description},#{down_price}, #{down_term},#{auction_address},#{tag},#{register_date})   
	</insert>

	<update id="updateStatus" parameterType="auction">
		UPDATE AUCTION SET AUCTION_STATUS=#{auction_status} WHERE AUCT_ID=#{auct_id}  
	</update>
	
	<select id="selectAuctionByMember" parameterType="auction" resultType="auction">
		SELECT * FROM AUCTION WHERE MEMBER_ID = ${member_id}
	</select>	
	
	<select id="selectMemberIdByAuct" parameterType="Integer" resultType="Integer">
		SELECT MEMBER_ID FROM AUCTION WHERE AUCT_ID = #{auct_id}
	</select>
</mapper>
