<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bla.mapper.BiddingMapper">

	<select id="selectAuctIdByMemberId" parameterType="Integer" resultType="Integer">
		SELECT DISTINCT AUCT_ID FROM BIDDING WHERE MEMBER_ID = #{member_id}
	</select>

	<select id="selectBidMaxPrice" parameterType="auction" resultType="Long">
		SELECT MAX(price) FROM BIDDING GROUP BY AUCT_ID HAVING AUCT_ID = #{auct_id }
	</select>
	
	<select id="selectMemberBidMaxPrice" parameterType="Map" resultType="Long">
		SELECT MAX(price) FROM BIDDING WHERE MEMBER_ID=#{member_id} AND AUCT_ID=#{auct_id}
	</select>
	
	<select id="selectAll" resultType="bidding">
		SELECT * FROM BIDDING ORDER BY BID_ID
	</select>
	
	<select id="selectNull" resultType="bidding">
		SELECT * FROM BIDDING WHERE BID_CONF_STATUS=0
	</select>
	
	<select id="selectAuctionBiddingList" parameterType="Integer" resultType="bidding">
		SELECT * FROM BIDDING WHERE AUCT_ID = #{auct_id} ORDER BY PRICE
	</select>
	
	<insert id="insert" parameterType="bidding">
		INSERT INTO BIDDING 
		(BID_ID,MEMBER_ID,AUCT_ID,PRICE,TIME,BIDDER_ACCOUNT)
		VALUES (SEQ_BID.NEXTVAL,#{member_id},#{auct_id},#{price},#{time},#{bidder_account})
	</insert>
	
	<select id="select" parameterType="Integer" resultType="bidding">
		SELECT * FROM BIDDING WHERE BID_ID=#{bid_id}
	</select>
	
	<select id="selectBididByAuctId" parameterType="Integer" resultType="bidding">
		SELECT * FROM BIDDING WHERE PRICE = (SELECT MAX(PRICE) FROM BIDDING WHERE AUCT_ID=#{auct_id}) AND AUCT_ID=#{auct_id}
	</select>
	
	<delete id="deleteNull" parameterType="Long">
		DELETE FROM BIDDING WHERE BID_CONF_STATUS=0<![CDATA[AND TIME <= #{register_date}]]>
	</delete>

</mapper>
