<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.bla.vo.MemberVO" alias="member"/>
		<typeAlias type="com.bla.vo.AuctionVO" alias="auction"/>
		<typeAlias type="com.bla.vo.BiddingVO" alias="bidding"/>
		<typeAlias type="com.bla.vo.PhotoVO" alias="photo"/>
		<typeAlias type="com.bla.vo.SuccessfulBidVO" alias="successfulbid"/>
		<typeAlias type="com.bla.vo.TagVO" alias="tag"/>
		<typeAlias type="com.bla.vo.DeliveryVO" alias="delivery"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/bla/config/membermapper.xml"/>
		<mapper resource="com/bla/config/auctionmapper.xml"/>
		<mapper resource="com/bla/config/biddingmapper.xml"/>
		<mapper resource="com/bla/config/photomapper.xml"/>
		<mapper resource="com/bla/config/successfulbidmapper.xml"/>
		<mapper resource="com/bla/config/tagmapper.xml"/>
		<mapper resource="com/bla/config/deliverymapper.xml"/>
	</mappers>
	
</configuration>