<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bla.mapper.PhotoMapper">

	<select id="select" parameterType="Integer" resultType="photo">
		SELECT * FROM PHOTO WHERE AUCT_ID = #{auct_id}
	</select>
	
	<insert id="insert" parameterType="photo">
		INSERT INTO PHOTO
		(PHOTO_ID,PHOTO_NAME,PHOTO_PATH,AUCT_ID)
		VALUES (SEQ_PHOTO.NEXTVAL,#{photo_name},#{photo_path},#{auct_id})
	</insert>
	
	<update id="update" parameterType="photo">
		UPATE PHOTO SET PHOTO_NAME = #{photo_name},PHOTO_PATH = #{photo_path} WHERE PHOTO_ID #{photo_id}
	</update>
	
	<!-- Need a update parameter add.. -->
	<delete id="delete" parameterType="Integer">
		DELETE * FROM PHOTO WHERE PHOTO_ID =#{photo_id}
	</delete>
	
	<delete id="deleteNull" parameterType="Long">
		DELETE FROM PHOTO WHERE AUCT_ID IN (SELECT AUCT_ID FROM AUCTION WHERE AUCTION_ADDRESS IS NULL<![CDATA[AND REGISTER_DATE <= #{register_date}]]>)
	</delete>

</mapper>
