<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.AuctionMapper">

	<!-- <resultMap type="moim" id="moimDetail">
		<result column="moim_id" property="moimId" />
		<result column="moim_img" property="moimImg" />
		<result column="title" property="title" />
		<result column="sdate" property="sDate" />
		<result column="edate" property="eDate" />
		<result column="stime" property="sTime" />
		<result column="etime" property="eTime" />
		<result column="reg_date" property="regDate" />
		<result column="apply_sdate" property="applySDate" />
		<result column="apply_edate" property="applyEDate" />
		<result column="apply_stime" property="applySTime" />
		<result column="apply_etime" property="applyETime" />
		<result column="place" property="place" />
		<result column="userid" property="userId"/>
		<result column="category_kind" property="categoryKind" />
		<result column="content" property="content" />
		<result column="detail_img1" property="detailImg1" />
		<result column="detail_img2" property="detailImg2" />
		<result column="detail_img3" property="detailImg3" />
		<result column="detail_img4" property="detailImg4" />
		<result column="detail_img5" property="detailImg5" />
		<result column="name" property="userName"/>
	</resultMap>

	<resultMap type="moim" id="moimList">
		<result column="moim_id" property="moimId"/>
		<result column="moim_img" property="moimImg" />
		<result column="title" property="title" />
		<result column="sdate" property="sDate" />
		<result column="edate" property="eDate" />
		<result column="category_kind" property="categoryKind" />
	</resultMap> -->

	<select id="select" parameterType="String" resultMap="moimDetail">
	</select>
	<select id="selectall" resultMap="moimList">
	</select>
	<insert id="insert" parameterType="moim">
	</insert>
	<!-- Need a update -->
	<update id="update" parameterType="moim">
	</update>
	<!-- Need a update parameter add.. -->
	<delete id="delete" parameterType="String">
	</delete>

</mapper>
