<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org/DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="vo.UserVO" alias="user"/>
		<typeAlias type="vo.AuctionVO" alias="auction"/>
		<typeAlias type="vo.BiddingVO" alias="bidding"/>
		<typeAlias type="vo.PhotoVO" alias="photo"/>
		<typeAlias type="vo.SuccessfulBidVO" alias="successfulbid"/>
		<typeAlias type="vo.TagVO" alias="tag"/>
		<typeAlias type="vo.DeliveryVO" alias="delivery"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="config/usermapper.xml"/>
		<mapper resource="config/auctionmapper.xml"/>
		<mapper resource="config/biddingmapper.xml"/>
		<mapper resource="config/photomapper.xml"/>
		<mapper resource="config/successfulbidmapper.xml"/>
		<mapper resource="config/tagmapper.xml"/>
		<mapper resource="config/deliverymapper.xml"/>
	</mappers>
	
</configuration>